#login, #loggedin {
    display: none;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
h1,h2,h3,h4,h5,h6 {
    text-transform: capitalize !important;
}
.extra .ui.blue.labels {
    width:65%;
}
.ui.progress {
    width:5%;
}

.float_div {
    float:left;
}

.float_div.label {
    margin-right: 1%;
}

.ui.input.float_div {
    clear:both;
}

.ui.progress.float_div:last-child {
    margin: 0 0 0.5em;
}

.ui.small.bordered.image img:hover {
    border-radius: 1vh;
    border-color: lightskyblue;
}

#starting_header {
    text-align: center;
    margin-top: 2vh;
}

.input_margin_right {
    margin-right: 0.5vw;
}

.ui.image img.image_cover.image_miniature   {
    height: 150px;
    width: 150px;
}

html {
    margin: -2vh 0 0;
}


body div.background-image-container {
    min-height: 100%;
    background: linear-gradient(175deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    background-size: 600% 600%;
    -webkit-animation: changeGradient 30s ease infinite;
    -moz-animation: changeGradient 30s ease infinite;
    animation: changeGradient 30s ease infinite;
}


@-webkit-keyframes changeGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes changeGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes changeGradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}


html body div.meta a, .float_div.label {
    color :rgb(12, 2, 96) !important;
}

.ui.divided.items > .item {
    border-top: 1px solid rgba(0,0,0,100) !important;
}